<mat-card class="max-w-[400px] mx-auto p-[20px]">
  <form [formGroup]="myForm" (ngSubmit)="submit()" class="flex flex-col gap-[10px] ">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Name</mat-label>
      <input
      matInput
      placeholder="Name"
      formControlName="name"
      >
      <mat-error *ngIf="getError('name').hasError('required')">Name is Required</mat-error>
      <mat-error *ngIf="getError('name').hasError('minlength')">MinLength is {{getError('name').errors?.['minlength'].requiredLength}}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Email</mat-label>
      <input
      matInput
      placeholder="Email"
      formControlName="email"
      >
      <mat-error *ngIf="getError('email').hasError('required')">Required</mat-error>
      <mat-error *ngIf="getError('email').hasError('email')">It should be email</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="myForm.invalid" type="submit" >Submit</button>
  </form>
</mat-card>
